/* flex display prefix mixin */
/*font size maps for each element*/
/*font size mixin to use for each element*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'oswald';
  src: url("../fonts/oswald-extralight-webfont.woff2") format("woff2"), url("../fonts/oswald-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswald_regularregular';
  src: url("../fonts/oswald-regular-webfont.woff2") format("woff2"), url("../fonts/oswald-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.main-width {
  width: 100%;
  max-width: 2400px;
  margin: 0 auto;
}

.container_one {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container_one p {
  font-family: oswald;
}

.container_one p:first-of-type {
  margin-top: 15%;
  font-size: 70px;
  margin-right: 15%;
}

.container_one p:nth-of-type(2) {
  font-size: 40px;
}

.menus {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 3%;
}

.menus .circle_one {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  border: 1px solid #009fe3;
  width: 200px;
  height: 200px;
  background-color: #009fe3;
  margin-right: 15px;
}

.container_two {
  width: 100%;
  height: 100vh;
  font-family: oswald;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container_two .text_box {
  width: 50%;
  font-size: 26px;
  text-align: left;
}

.container_two .text_box h1 {
  font-size: 40px;
}

.container_two .skillbars {
  width: 80%;
  float: right;
}

.container_two .skillbars p {
  color: black;
  font-size: 20px;
}

.container_two .skillbars h1 {
  font-size: 40px;
}

.container_two .skillbars .skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 60%;
  background: white;
  height: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.container_two .skillbars .skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.container_two .skillbars .skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.container_two .skillbars .skillbar-bar {
  height: 35px;
  width: 0px;
  background: #009fe3;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.container_two .skillbars .skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  color: black;
}

.projects {
  width: 100%;
  height: 100vh;
  font-family: oswald;
}

.projects p {
  margin-top: 10%;
  margin-left: 5%;
  font-size: 40px;
}

.projects hr {
  margin-left: 5%;
  margin-right: 5%;
}
