 // ctrl+D szuka po zaznaczonym wyrazie w dol
 @import 'modules/mixins';
 @import "modules/variables";
 @import "partials/reset";
 @font-face {
     font-family: 'oswald';
     src: url('../fonts/oswald-extralight-webfont.woff2') format('woff2'),
          url('../fonts/oswald-extralight-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
     font-family: 'oswald_regularregular';
     src: url('../fonts/oswald-regular-webfont.woff2') format('woff2'),
          url('../fonts/oswald-regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;

 }
* {
    box-sizing: border-box;
    margin: 0 auto;
}

.clear {
    clear: both;
}
.main-width {
    width: 100%;
    max-width: 2400px;
    margin: 0 auto;
}
.container_one{
  width: 100%;
  height: 100vh;
  // background-color: #009fe3;
  @include  flexDisplay;
  align-items:center;
  flex-direction: column;
  p{
    font-family: oswald;
    &:first-of-type{
      margin-top: 15%;
      font-size: 70px;
      margin-right: 15%;
    }
     &:nth-of-type(2){
          font-size: 40px;
        }
  }

}
.menus{
  @include flexDisplay;
  margin-top: 3%;
  .circle_one{
    @include flexDisplay;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    border: 1px solid #009fe3;
    width: 200px;
    height: 200px;
    background-color: #009fe3;
    margin-right: 15px;
  }
}
.container_two{
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  font-family: oswald;
  @include flexDisplay;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  .text_box{
    width: 50%;
    font-size: 30px;
    text-align: left;
    h1{
      font-size:40px;
    }
    }
    .skillbars{
      width: 80%;
      float: right;
      p{
        color:black;
        font-size:20px;
      }
      h1{
        font-size: 40px;
      }

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:60%;
	background:white;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
  width:110px;
	font-weight:bold;
	font-size:16px;
	color:white;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#009fe3;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:16px;
	height:35px;
	line-height:35px;
	color:black;
}
    }

  }
