 // ctrl+D szuka po zaznaczonym wyrazie w dol
* {
    box-sizing: border-box;
    margin: 0 auto;
}

.clear {
    clear: both;
}
.main-width {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
