 // ctrl+D szuka po zaznaczonym wyrazie w dol
 @import 'modules/mixins';
 @import "modules/variables";
 @import "partials/reset";
 @font-face {
     font-family: 'oswald';
     src: url('../fonts/oswald-extralight-webfont.woff2') format('woff2'),
          url('../fonts/oswald-extralight-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
     font-family: 'oswald_regularregular';
     src: url('../fonts/oswald-regular-webfont.woff2') format('woff2'),
          url('../fonts/oswald-regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;

 }
* {
    box-sizing: border-box;
    margin: 0 auto;
}

.clear {
    clear: both;
}
.main-width {
    width: 100%;
    max-width: 2400px;
    margin: 0 auto;
}
.container_one{
  width: 100%;
  height: 100vh;
  // background-color: #009fe3;
  @include  flexDisplay;
  align-items:center;
  flex-direction: column;
  p{
    font-family: oswald;
    &:first-of-type{
      margin-top: 15%;
      font-size: 70px;
      margin-right: 15%;
    }
     &:nth-of-type(2){
          font-size: 40px;
        }
  }

}
.menus{
  @include flexDisplay;
  margin-top: 3%;
  .circle_one{
    @include flexDisplay;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    border: 1px solid #009fe3;
    width: 200px;
    height: 200px;
    background-color: #009fe3;
    margin-right: 15px;
  }
}
.container_two{
  width: 100%;
  height: 100vh;
}
